{% extends "reminders/base.html" %}

{% block main_content %}

{% if form.errors %}
<p>Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form method="post" action="{% url 'reminders:add' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.title.label_tag }}</td>
    <td>{{ form.title }}</td>
    <td>{{ form.title.errors.0 }}</td>
</tr>
<tr>
    <td>{{ form.detail.label_tag }}</td>
    <td>{{ form.detail }}</td>
    <td>{{ form.detail.errors.0 }}</td>
</tr>
<tr>
    <td>{{ form.date.label_tag }}</td>
    <td>{{ form.date }}</td>
    <td>{{ form.date.errors.0 }}</td>
</tr>
</table>

<input type="submit" value="create" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}